@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>With Priscila Mayumi</h3>
    </header>
    <p>
        <span class="label">blog:</span>
        <span><a href="http://dev.mayogax.me/">MayogaX dev blog</a></span>
    </p>
    <p>
        <span class="label">Twitter:</span>
        <span><a href="https://twitter.com/mayogax">@@MayogaX</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>About the EF Code First Membership Provider</h3>
    </header>
    <p>
        <span class="label">Codeplex:</span>
        <span><a href="http://codefirstmembership.codeplex.com/">Code First Membership Provider</a></span>
    </p>
</section>
